<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Matriculas2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>anadirA</display-name>
    <servlet-name>anadirA</servlet-name>
    <servlet-class>com.zubiri.matriculas.anadirA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anadirA</servlet-name>
    <url-pattern>/anadirA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verA</display-name>
    <servlet-name>verA</servlet-name>
    <servlet-class>com.zubiri.matriculas.verA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verA</servlet-name>
    <url-pattern>/verA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarA</display-name>
    <servlet-name>buscarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.buscarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarA</servlet-name>
    <url-pattern>/buscarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarA</display-name>
    <servlet-name>eliminarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.eliminarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarA</servlet-name>
    <url-pattern>/eliminarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificarA</display-name>
    <servlet-name>modificarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.modificarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarA</servlet-name>
    <url-pattern>/modificarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>anadirP</display-name>
    <servlet-name>anadirP</servlet-name>
    <servlet-class>com.zubiri.matriculas.anadirP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anadirP</servlet-name>
    <url-pattern>/anadirP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verP</display-name>
    <servlet-name>verP</servlet-name>
    <servlet-class>com.zubiri.matriculas.verP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verP</servlet-name>
    <url-pattern>/verP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarP</display-name>
    <servlet-name>eliminarP</servlet-name>
    <servlet-class>com.zubiri.matriculas.eliminarP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarP</servlet-name>
    <url-pattern>/eliminarP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarP</display-name>
    <servlet-name>buscarP</servlet-name>
    <servlet-class>com.zubiri.matriculas.buscarP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarP</servlet-name>
    <url-pattern>/buscarP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificarP</display-name>
    <servlet-name>modificarP</servlet-name>
    <servlet-class>com.zubiri.matriculas.modificarP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarP</servlet-name>
    <url-pattern>/modificarP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>anadirS</display-name>
    <servlet-name>anadirS</servlet-name>
    <servlet-class>com.zubiri.matriculas.anadirS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anadirS</servlet-name>
    <url-pattern>/anadirS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verS</display-name>
    <servlet-name>verS</servlet-name>
    <servlet-class>com.zubiri.matriculas.verS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verS</servlet-name>
    <url-pattern>/verS</url-pattern>
  </servlet-mapping>
</web-app>