<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Matriculas2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>anadirA</display-name>
    <servlet-name>anadirA</servlet-name>
    <servlet-class>com.zubiri.matriculas.anadirA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anadirA</servlet-name>
    <url-pattern>/anadirA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verA</display-name>
    <servlet-name>verA</servlet-name>
    <servlet-class>com.zubiri.matriculas.verA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verA</servlet-name>
    <url-pattern>/verA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarA</display-name>
    <servlet-name>buscarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.buscarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarA</servlet-name>
    <url-pattern>/buscarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarA</display-name>
    <servlet-name>eliminarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.eliminarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarA</servlet-name>
    <url-pattern>/eliminarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificarA</display-name>
    <servlet-name>modificarA</servlet-name>
    <servlet-class>com.zubiri.matriculas.modificarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarA</servlet-name>
    <url-pattern>/modificarA</url-pattern>
  </servlet-mapping>
</web-app>